:root {
  --green: #264726;
  --white: #ffffff;
  --black: #000000;
}
* {
  color: var(--fontColor);
  font-family: helvetica;
}
body {
    background: var(--bg);
}

ul {
  font-family: helvetica;
}
li {
  list-style: circle;
}

.list {
  list-style: square;
}

.btn {
  position: absolute;
  top: 20px;
  left: 700px;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  height: 40px;
  width: 60px;
  border-radius: 50%;
  
}

  .light-theme {
      --bg: var(--white);
      --fontColor: var(--black);
      --btnBg: var(--black);
      --btnFontColor: var(--white);
  }
  
  .dark-theme {
      --bg: var(--black);
      --fontColor: var(--white);
      --btnBg: var(--white);
      --btnFontColor: var(--black);
  }
  
  
  .displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }